#mask {
    position: absolute;
    z-index: 9000;
    background-color: gray;
    display: none;
    left: 0;
    top: 0;
}
#loadingImg > img {
    position: relative;
    display: block;
    margin: 0px auto;
}